@media (min-width: 800px) {
    body {/* styles pour les écrans de largeur supérieure à 800px */
        font-size: 18px;
    }
}
@media (max-width: 600px) {
    body {/* styles pour les écrans de largeur inférieure à 600px */
        font-size: 14px;
    }
}
na
header{
	background-color: #F2F3F3;
	text-align: center;
}


.burger-menu-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.burger-menu-button {
  display: none; /* cacher le bouton par défaut */
  padding: 0.5em 1em;
  background: #333;
  color: #fff;
  cursor: pointer;
}

.burger-menu {
  display: none; /* cacher le menu burger par défaut */
  background: #fff;
  padding: 1em;
}

.burger-menu-icon {
  width: 1.5em;
  height: 0.25em;
  background: #fff;
  margin-bottom: 0.5em;
}

/* Afficher le bouton et le menu burger pour les écrans de petite taille */
@media (max-width: 768px) {
  .burger-menu-button {
    display: block;
  }
}


nav {
  background-color: #f00202; /* Couleur de fond du menu */
  display: flex; /* Afficher les éléments du menu côte à côte */
  justify-content: space-between; /* Aligner les éléments du menu sur les deux côtés de la nav */
}

nav ul {
  list-style: none; /* Enlever les puces des éléments de la liste */
  margin: 5px; /* Enlever les marges */
  padding: 5px; /* Enlever les espacements */
  display: flex; /* Afficher les éléments de la liste côte à côte */
 
}

nav li {
  margin: 10px 10px; /* Ajouter une marge à gauche et à droite de chaque élément */

}

nav a {
  color: #fefefe; /* Couleur de text pour les liens */
  text-decoration: none; /* Enlever la surbrillance des liens */
  padding: 25px 100px; /* Ajouter un espacement intérieur aux liens */
  transition: background-color 0.2s ease-in;  /* Ajouter une transition pour la couleur de fond */
}

nav a:hover { /* Appliquer les styles à utiliser lorsque l'utilisateur survole un lien */
  background-color: #a30303; /* Couleur de fond lorsque l'utilisateur survole un lien */
}
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #999;
  display: inline-block;
  text-align: left;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

input[type="text"], input[type="email"], textarea {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

textarea {
  resize: none;
  height: 150px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  font-size: 18px;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}